html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hover-shadow {
    transition: all 0.3s ease-in-out;
    will-change: transform, box-shadow;
}

.hover-shadow:hover {
    transform: translateY(-8px);
    transition: 0.3s;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.btn-danger, .btn-outline-danger {
    color: black !important;
}

.btn-danger:hover, .btn-outline-danger:hover {
    color: white !important;
}

input::placeholder, .lupas, .login {
    font: 14px sans-serif;
    text-decoration: none;
}

.mainnavcolor, div.card-header {
    background-color: skyblue;
}

.navbar-collapse {
    padding-left: 5%;
}

.nav-item {
    margin-right: 20px;
}

.nav-link:hover, .masuk, 
.btn-ik, .btn-ds, .btncancel, 
.btnacc, .keluar {
    font-weight: 500;
}

.title-web {
    line-height: 2.5rem;
}

.special-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modal-content {
    overflow: hidden;
    border-radius: 10px;
}

.modal-footer {
    margin: 0;
    border-top: none;
}

.card {
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: 100%;
}

.card-header {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 4.5rem;
}

.card-body {
    overflow: hidden;
}

.card-text, .accordion-body {
    text-align: justify;
}

.card-img-top {
    height: 190px;
    width: auto;
    object-fit: cover;
}

td {
    font-size: 14px;
}

.footer-custom {
    background-color: skyblue;
    color: black;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.footer-address {
    font-size: 12px;
    color: white;
    left: 0;
    width: 100%;
    z-index: 999;
}

.footer-brand, .sosmed {
    font-size: 18px;
}

.footer-custom .sosmed ul li a {
    display: inline-block;
}

.footer-custom .sosmed ul li a i {
    display: inline-block;
    transition: transform 0.25s ease, filter 0.25s ease;
}

.footer-custom .sosmed ul li a:hover i {
    transform: scale(1.2);
}

.footer-custom .sosmed:hover {
    cursor: pointer;
}

.serif {
    font-family: Times, "Times New Roman", Georgia, serif;
}

.sansserif {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.monospace {
    font-family: "Lucida Console", Courier, monospace;
}

.cursive {
    font-family: cursive;
}

.fantasy {
    font-family: fantasy;
}

.emoji {
    font-family: emoji;
}

.math {
    font-family: math;
}

.fangsong {
    font-family: fangsong;
}

.img-profile {
    min-height: 17em;
    max-height: 17em;
    max-width: auto;
}

.pagination-wrapper {
    max-width: 100%;
}

.pagination {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.pagination li {
    margin: 2px;
}

.pagination li a,
.pagination li span {
    border-radius: 6px !important;
}